/* ***** QUESTION: CSS IS ADDING 5 GROW ROWS INSTEAD OF 4. WHY???*/


/* Main body, links, button */

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 33px;
    margin-right: 33px;
    background-image: url('images/endangered.png');
    color:antiquewhite;
}

main {
  background-color: rgba(16, 4, 58, 0.467);
  padding: 2%;
  border-radius: 10px;
}

#link {
  color: rgb(46, 198, 221);
}

#link:hover {
  font-weight: bold;
  color: rgb(201, 221, 19);
  
}

#button {
  margin-bottom: -10%;
}

#submit_species {
  display: flex;
  justify-content: center;
  margin-bottom: -15%;
  margin-left: 10%;
  font-weight: bold;;
  background-color: rgb(232, 90, 74);
  border-radius: 20%;
  border-color: rgb(247, 79, 79);
}

#submit_species:hover {
  background-color: rgb(248, 46, 31); 
}



/* Grid form: */

#header {
  grid-area: header;
  color:antiquewhite;
}

#main {
  margin-top: 2px;
  grid-area: main;
}

#footer {
  grid-area: footer;
  text-align: center;
}

#species_form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  vertical-align: middle;
  padding: 1%;
  width:95%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.769);
  border-radius: 20px;
  color: rgb(3, 5, 42);
}

#list {
  grid-area: list;
  display: flex;
  width: 95%;
  margin-top: 8%;
  margin-left: 2%;
  height: 58%;
  padding: 10px;
  text-align: left;
  background-color: rgba(95, 7, 72, 0.694);
  border-radius: 20px;
  color: rgb(3, 5, 42);
  align-self: center;
  font-weight: bold;
  color: rgb(255, 241, 223);
}

#grid-container{
  display: grid;
  grid-template-areas: 
  'header header'
  'main main'
  'species_form list'
  'footer footer';
  grid-template-columns: 60% 40%; 
  grid-template-rows: 14% 42% 42% 0%;

}  
/* grid list */

#list {
  display: grid;
  grid-template-areas: 
  "text list"
  "button list";
  display: flex;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 70%;
  justify-content: space-around;
}

#list > h3 {
  grid-area: text;
}


#button2 {
  grid-area: button;
  margin-top: 25%;
}

#list > ul {
  grid-area: list;
  text-align: left;
}

#button_delete {
  display: flex;
  text-align: center;
  font-weight: bold;
  background-color: rgb(62, 49, 198);
  border-radius: 20%;
  border-color: rgb(75, 1, 212);
}

#button_delete:hover {
  background-color: blue;
}








